Análisis de la Columna 1: "operations"

In [2]:
# Lo primero que hacemos es importar todas las librerias necesarias.
import pandas as pd

In [3]:
# Abrimos el dataset y hacemos un chequeo rápido para saber cantidad de registros y miramos la composición del mismo.
filename = "../../dataset/properati.csv"
data = pd.read_csv(filename)

display(data.sample(n=6))

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
12761,12761,sell,apartment,Canning,|Argentina|Bs.As. G.B.A. Zona Sur|Esteban Eche...,Argentina,Bs.As. G.B.A. Zona Sur,3435719.0,"-34.8697976258,-58.5049141446",-34.869798,...,43.0,NaN,1976.744186,NaN,NaN,NaN,http://www.properati.com.ar/16mvw_venta_depart...,CODIGO: 3407-ara60 ubicado en: Mitre 2172 - Ca...,HERMOSO MONOAMBIENTE EN CONDOMINIO MAIN PARK -...,https://thumbs4.properati.com/6/mUYb7e8wrKjgTn...
54267,54267,sell,house,Pilar,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|,Argentina,Bs.As. G.B.A. Zona Norte,3429979.0,"-34.43098,-58.8203696",-34.430980,...,232.0,1831.896552,1831.896552,NaN,NaN,NaN,http://www.properati.com.ar/19mqa_venta_casa_p...,OPORTUNIDAD- IMPECABLE. Lindisima casa desarro...,Bustamante Propiedades | La Lomada en Venta,https://thumbs4.properati.com/6/1rxVy8q_DvKi1N...
22875,22875,sell,apartment,Barrio Los Alisos,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4026444,-58.6684776",-34.402644,...,74.0,1050.420168,3378.378378,NaN,3.0,NaN,http://www.properati.com.ar/17k1g_venta_depart...,LLM Nordelta. Excelente departamento en planta...,Nordelta Departamento en venta de 3 AMB. plant...,https://thumbs4.properati.com/4/bj0AKRgSlDtulx...
41444,41444,sell,PH,Ramos Mejía,|Argentina|Bs.As. G.B.A. Zona Oeste|La Matanza...,Argentina,Bs.As. G.B.A. Zona Oeste,3429617.0,NaN,NaN,...,96.0,1239.669421,1562.500000,NaN,3.0,NaN,http://www.properati.com.ar/18u6j_venta_ph_ram...,"RAMOS MEJIA, CASA EN PH 3 AMBIENTES EN ALQUILE...",PH EN VENTA,NaN
61860,61860,sell,apartment,Parque Patricios,|Argentina|Capital Federal|Parque Patricios|,Argentina,Capital Federal,3430114.0,"-34.635756,-58.404692",-34.635756,...,64.0,NaN,1906.250000,NaN,3.0,NaN,http://www.properati.com.ar/1a69d_venta_depart...,Corredor Responsable: Ariel Champanier - C.U.C...,3 AMBIENTES AL FRENTE EN PARQUE PATRICIO,https://thumbs4.properati.com/2/-iKMub_7MB7rAI...
24688,24688,sell,apartment,Fincas de Iraola,|Argentina|Bs.As. G.B.A. Zona Sur|Berazategui|...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,"-34.8210242979,-58.1826350583",-34.821024,...,55.0,2187.500000,2545.454545,NaN,2.0,NaN,http://www.properati.com.ar/17owy_venta_depart...,Departamento 2 ambientes en Condominios del Bo...,Venta Departamento 2 ambientes en Fincas de Ir...,https://thumbs4.properati.com/6/9APJT6xbmyxnyl...

# Antes de correr el proceso cuento la cantidad inicial de valores incompletos:

In [7]:
print(f' cantidad inicial de valores incompletos geonames_id\n{data.geonames_id.notnull().value_counts()}')
print(f' cantidad inicial de valores incompletos geonames_id\n{data.lon.notnull().value_counts()}')
print(f' cantidad inicial de valores incompletos geonames_id\n{data.lat.notnull().value_counts()}')
print(f' cantidad inicial de valores incompletos geonames_id\n{data["lat-lon"].notnull().value_counts()}')

 cantidad inicial de valores incompletos geonames_id
True     102503
False     18717
Name: geonames_id, dtype: int64
 cantidad inicial de valores incompletos geonames_id
True     69670
False    51550
Name: lon, dtype: int64
 cantidad inicial de valores incompletos geonames_id
True     69670
False    51550
Name: lat, dtype: int64
 cantidad inicial de valores incompletos geonames_id
True     69670
False    51550
Name: lat-lon, dtype: int64

### Detalle de análisis de columna `geonames_id`, `lat-lon`, `lat`, `lon`:
Descargamos el archivo de geonames de la web oficial, de la cual vamos a sacar todos los datos faltantes.

https://download.geonames.org/export/dump/AR.zip

In [13]:
# Leemos el csv de geonames descargado. 
geonames = pd.read_csv('../../dataset/AR.txt', header = None, sep="\t")
display(geonames.sample(n=6))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
23444,3846146,Parque Nacional Los Glaciares,Parque Nacional Los Glaciares,"Los Glaciares National Park,Parc National Los ...",-50.33051,-73.23411,L,PRK,AR,NaN,20.0,NaN,NaN,NaN,0,NaN,919,America/Argentina/Rio_Gallegos,2020-01-08
28508,3851222,Estancia La Florida,Estancia La Florida,NaN,-36.63735,-63.98787,S,RNCH,AR,NaN,11.0,42021.0,NaN,NaN,0,NaN,142,America/Argentina/Salta,2016-01-30
45019,6956210,kelta,kelta,NaN,-50.34482,-72.26768,S,HTL,AR,NaN,20.0,78028.0,NaN,NaN,0,NaN,245,America/Argentina/Rio_Gallegos,2016-01-30
28729,3851444,Estancia La Esperanza,Estancia La Esperanza,NaN,-40.50000,-63.53333,S,RNCH,AR,NaN,16.0,62007.0,NaN,NaN,0,NaN,22,America/Argentina/Salta,2016-01-30
34037,3856772,Apeadero El Rodeo,Apeadero El Rodeo,NaN,-26.66514,-64.92354,S,RSTP,AR,NaN,24.0,90007.0,NaN,NaN,0,NaN,562,America/Argentina/Tucuman,2016-01-30
42847,3865621,Aparzo,Aparzo,NaN,-23.05139,-65.19240,L,LCTY,AR,NaN,10.0,NaN,NaN,NaN,0,NaN,4314,America/Argentina/Jujuy,2011-04-19

In [14]:
# modificamos el nombre de las columnas que nos interesan
geonames.rename(columns = {0:'geonameid',1:'name',4:'latitude',5:'longitude'}, inplace = True)

# geonames['latitude'] = pd.Series([round(val, 8) for val in geonames['latitude']], index = geonames.index)
# geonames['longitude'] = pd.Series([round(val, 8) for val in geonames['longitude']], index = geonames.index)

# Borramos columnas que no nos interesan
geonames.drop([2,3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], axis=1, inplace=True)

display(geonames.sample(n=6))

       geonameid                      name  latitude  longitude
41958    3864726  Barreal de las Barrancas -31.86502  -68.82688
140      3427340                  Vivoratá -37.66387  -57.66633
12283    3834933                 Canal Sur -51.62263  -69.10894
13695    3836352         Desvío Santa Cruz -31.31676  -66.46834
44576    6463047  Loisuites Recoleta Hotel -34.60550  -58.39260
30230    3852946                  La Adela -33.41667  -61.20000

In [15]:
# Completamos 'lat'

lat_d = {}
geoname_lat = zip(geonames['geonameid'], geonames['latitude'])

for geoname, latitud in geoname_lat:
    lat_d[geoname] = latitud

data.loc[data['lat'].isnull(),'lat'] = data['geonames_id'].map(lat_d)

In [18]:
# cComplatamos 'lon'

lon_d = {}
geoname_lon = zip(geonames['geonameid'], geonames['longitude'])

for geoname, longitud in geoname_lon:
    lon_d[geoname] = longitud

data.loc[data['lon'].isnull(),'lon'] = data['geonames_id'].map(lon_d)

In [19]:
data.loc[(data['lat-lon'].isnull()) | (data['lon'].notnull()), 'lat-lon'] = data['lat'].astype(str) + ',' + data['lon'].astype(str)

In [20]:
# Nulos en geonames y *no* nulos en lat, lon
mask_geo = (data.geonames_id.isnull()) & (data.lat.notnull())
mask_geo.sum()

10532

In [27]:
data[['place_with_parent_names', 'geonames_id','lat','lon', 'lat-lon']][mask_geo].sample(6)

,place_with_parent_names,geonames_id,lat,lon,lat-lon
43809,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|Los ...,NaN,-34.426487,-58.822238,"-34.426487,-58.822238"
19597,|Argentina|Bs.As. G.B.A. Zona Oeste|La Matanza...,NaN,-34.804454,-58.634644,"-34.8044542,-58.6346444"
38150,|Argentina|Bs.As. G.B.A. Zona Norte|San Miguel|,NaN,-34.548847,-58.742061,"-34.548846999999995,-58.7420606"
3229,|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|...,NaN,-34.648457,-58.665554,"-34.64845657,-58.66555405"
9650,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...,NaN,-34.400140,-58.649850,"-34.40014,-58.64985"
13769,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|Pilar|,NaN,-34.464691,-58.859894,"-34.4646908,-58.8598944"

In [26]:
print(f' cantidad inicial de valores incompletos geonames_id\n{data.geonames_id.notnull().value_counts()}')
print(f' cantidad inicial de valores incompletos lon\n{data.lon.notnull().value_counts()}')
print(f' cantidad inicial de valores incompletos lat\n{data.lat.notnull().value_counts()}')
print(f' cantidad inicial de valores incompletos lat-lon\n{data["lat-lon"].notnull().value_counts()}')

 cantidad inicial de valores incompletos geonames_id
True     102503
False     18717
Name: geonames_id, dtype: int64
 cantidad inicial de valores incompletos lon
True     112874
False      8346
Name: lon, dtype: int64
 cantidad inicial de valores incompletos lat
True     112874
False      8346
Name: lat, dtype: int64
 cantidad inicial de valores incompletos lat-lon
True    121220
Name: lat-lon, dtype: int64

In [33]:
# Como en lat-lon ya no tenemos null, lo podemos usar para completar lat y lon individualmente.
data['lat'][(data['lat'].isnull())] = data['lat-lon'].apply(lambda x: x.split(',')[0])
data['lon'][(data['lon'].isnull())] = data['lat-lon'].apply(lambda x: x.split(',')[1])

/var/folders/70/fs5qd5yj0fzcp24q_bzk9s7m0000gn/T/ipykernel_41430/3059217818.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['lon'][(data['lon'].isnull())] = data['lat-lon'].apply(lambda x: x.split(',')[1])

In [37]:
# Revisamos como quedaron los nulls
print(f' cantidad inicial de valores incompletos lon\n{data.lon.notnull().value_counts()}')
print(f' cantidad inicial de valores incompletos lat\n{data.lat.notnull().value_counts()}')
print(f' cantidad inicial de valores incompletos lat-lon\n{data["lat-lon"].notnull().value_counts()}')

 cantidad inicial de valores incompletos lon
True    121220
Name: lon, dtype: int64
 cantidad inicial de valores incompletos lat
True    121220
Name: lat, dtype: int64
 cantidad inicial de valores incompletos lat-lon
True    121220
Name: lat-lon, dtype: int64

In [36]:
# geonames_id ya no nos sirve, asi qeu lo borramos.
data.drop(['geonames_id'], axis=1, inplace=True)