# Digital House - Trabajo Práctico Nº1
## Desafío 1. Análisis exploratorio de un dataset de precios de propiedades
Grupo Nª2
Alumnos:
* Alberto Paparelli
* André Song
* Marianela Riz
* Gloria Caravajal
* Franco Emanuel Rodriguez
* Iván Axel Schweizer

Objetivos:
* Efectuar una limpieza del dataset provisto. Particularmente, deberá diseñar estrategias para lidiar con los datos perdidos en ciertas variables.
* Realizar un análisis descriptivo de las principales variables.
* Crear nuevas columnas a partir de las características dadas que puedan tener valor
predictivo.

In [25]:
# Lo primero que hacemos es importar todas las librerias necesarias.
import pandas as pd

In [26]:
# Abrimos el dataset y hacemos un chequeo rápido para saber cantidad de registros y miramos la composición del mismo.
filename = "../dataset/properati.csv"
data = pd.read_csv(filename)
display(data.sample(n=6)) 
print(f"(Cantidad de Filas, Cantidad de columnas) -> {data.shape}")

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
77267,77267,sell,store,Lomas de Zamora,|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,"-34.7635792,-58.3965203",-34.763579,...,35.0,3714.285714,3714.285714,NaN,NaN,NaN,http://www.properati.com.ar/1asmg_venta_local_...,Local en excelente zona comercial a pasos de A...,Local Ayacucho y Almirante Brown,https://thumbs4.properati.com/2/6laPlSaNrjC2EB...
71533,71533,sell,PH,Banfield,|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...,Argentina,Bs.As. G.B.A. Zona Sur,3436152.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1al2x_venta_ph_ban...,A CUMPLIMENTAR RESOLUCIÓN 2371 DE AFIP - CASA ...,PH - Banfield Oeste,https://thumbs4.properati.com/6/pQhSB6uqlR1EY-...
115581,115581,sell,house,Córdoba,|Argentina|Córdoba|Córdoba|,Argentina,Córdoba,3860259.0,"-31.473076,-64.216853",-31.473076,...,121.0,NaN,9504.132231,NaN,10.0,NaN,http://www.properati.com.ar/1cbd7_venta_casa_c...,EXCEPCIONAL INMUEBLE!!! . COMPUESTO DE UNA CAS...,VENDE - ALTO DE FLORES 1010 - B° VILLA EL LIBE...,https://thumbs4.properati.com/0/ew8onZEbePVRSv...
32947,32947,sell,house,Ituzaingó,|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|,Argentina,Bs.As. G.B.A. Zona Oeste,3433359.0,"-34.6258774,-58.6604961",-34.625877,...,65.0,1396.825397,1353.846154,NaN,NaN,NaN,http://www.properati.com.ar/187ym_venta_casa_i...,Venta de Casa 2 DORM en Parque Leloir Parque S...,CASA EN VENTA,https://thumbs4.properati.com/3/s-Yvkg7BLD_bsu...
82658,82658,sell,apartment,Barrio Norte,|Argentina|Capital Federal|Barrio Norte|,Argentina,Capital Federal,3436109.0,NaN,NaN,...,45.0,5510.204082,6000.000000,NaN,NaN,NaN,http://www.properati.com.ar/1azil_venta_depart...,"Torre DECO, una de las mejores torres de barri...","Torre de Máximo nivel, PISO ALTO!!! Amenities ...",https://thumbs4.properati.com/2/tPc3zk8Jy4g36q...
77270,77270,sell,house,Longchamps,|Argentina|Bs.As. G.B.A. Zona Sur|Almirante Br...,Argentina,Bs.As. G.B.A. Zona Sur,3431259.0,"-34.8454934,-58.3892456",-34.845493,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1asmm_venta_casa_l...,TONEGUZZO INMOBILIARIAE.de Burzaco 601 . Burza...,VENDE CASA,https://thumbs4.properati.com/1/EcBJRosmc6U--j...

(Cantidad de Filas, Cantidad de columnas) -> (121220, 26)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  121220 non-null  int64
 1   operation                   121220 non-null  object
 2   property_type               121220 non-null  object
 3   place_name                  121197 non-null  object
 4   place_with_parent_names     121220 non-null  object
 5   country_name                121220 non-null  object
 6   state_name                  121220 non-null  object
 7   geonames_id                 102503 non-null  float64
 8   lat-lon                     69670 non-null   object
 9   lat                         69670 non-null   float64
 10  lon                         69670 non-null   float64
 11  price                       100810 non-null  float64
 12  currency                    100809 non-null  object
 13  price_aprox_local_currency  100810 non-null  float64
 14  price_aprox_usd             100810 non-null  float64
 15  surface_total_in_m2         81892 non-null   float64
 16  surface_covered_in_m2       101313 non-null  float64
 17  price_usd_per_m2            68617 non-null   float64
 18  price_per_m2                87658 non-null   float64
 19  floor                       7899 non-null    float64
 20  rooms                       47390 non-null   float64
 21  expenses                    14262 non-null   float64
 22  properati_url               121220 non-null  object
 23  description                 121218 non-null  object
 24  title                       121220 non-null  object
 25  image_thumbnail             118108 non-null  object
dtypes: float64(13), int64(1), object(12)
memory usage: 24.0+ MB

In [28]:
for column in data.columns:
    print (f"Informacion de la columna {column}:")
    display (data[column].describe())            #info de cada columna
    print ("\n")

Informacion de la columna Unnamed: 0:

count    121220.000000
mean      60609.500000
std       34993.344153
min           0.000000
25%       30304.750000
50%       60609.500000
75%       90914.250000
max      121219.000000
Name: Unnamed: 0, dtype: float64

Informacion de la columna operation:

count     121220
unique         1
top         sell
freq      121220
Name: operation, dtype: object

Informacion de la columna property_type:

count        121220
unique            4
top       apartment
freq          71065
Name: property_type, dtype: object

Informacion de la columna place_name:

count      121197
unique       1060
top       Córdoba
freq         9254
Name: place_name, dtype: object

Informacion de la columna place_with_parent_names:

count                           121220
unique                            1164
top       |Argentina|Santa Fe|Rosario|
freq                              8504
Name: place_with_parent_names, dtype: object

Informacion de la columna country_name:

count        121220
unique            1
top       Argentina
freq         121220
Name: country_name, dtype: object

Informacion de la columna state_name:

count              121220
unique                 28
top       Capital Federal
freq                32316
Name: state_name, dtype: object

Informacion de la columna geonames_id:

count    1.025030e+05
mean     3.574442e+06
std      3.541306e+05
min      3.427208e+06
25%      3.430234e+06
50%      3.433910e+06
75%      3.836668e+06
max      6.948895e+06
Name: geonames_id, dtype: float64

Informacion de la columna lat-lon:

count                       69670
unique                      47203
top       -34.4026444,-58.6684776
freq                          312
Name: lat-lon, dtype: object

Informacion de la columna lat:

count    69670.000000
mean       -34.626210
std          1.980936
min        -54.823985
25%        -34.669065
50%        -34.597985
75%        -34.441299
max          4.545843
Name: lat, dtype: float64

Informacion de la columna lon:

count    69670.000000
mean       -59.266290
std          2.299922
min        -75.678931
25%        -58.727040
50%        -58.480128
75%        -58.395908
max        -53.733330
Name: lon, dtype: float64

Informacion de la columna price:

count    1.008100e+05
mean     4.685259e+05
std      2.260101e+06
min      0.000000e+00
25%      1.100000e+05
50%      1.850000e+05
75%      4.200000e+05
max      6.500000e+08
Name: price, dtype: float64

Informacion de la columna currency:

count     100809
unique         4
top          USD
freq       87587
Name: currency, dtype: object

Informacion de la columna price_aprox_local_currency:

count    1.008100e+05
mean     4.229397e+06
std      6.904714e+06
min      0.000000e+00
25%      1.583309e+06
50%      2.558452e+06
75%      4.675792e+06
max      8.212711e+08
Name: price_aprox_local_currency, dtype: float64

Informacion de la columna price_aprox_usd:

count    1.008100e+05
mean     2.397006e+05
std      3.913239e+05
min      0.000000e+00
25%      8.973388e+04
50%      1.450000e+05
75%      2.650000e+05
max      4.654544e+07
Name: price_aprox_usd, dtype: float64

Informacion de la columna surface_total_in_m2:

count     81892.000000
mean        233.795328
std        1782.222147
min           0.000000
25%          50.000000
50%          84.000000
75%         200.000000
max      200000.000000
Name: surface_total_in_m2, dtype: float64

Informacion de la columna surface_covered_in_m2:

count    101313.000000
mean        133.050181
std         724.351479
min           0.000000
25%          45.000000
50%          75.000000
75%         150.000000
max      187000.000000
Name: surface_covered_in_m2, dtype: float64

Informacion de la columna price_usd_per_m2:

count     68617.000000
mean       2160.086916
std        2759.288621
min           0.600000
25%        1218.181818
50%        1800.000000
75%        2486.411765
max      206333.333333
Name: price_usd_per_m2, dtype: float64

Informacion de la columna price_per_m2:

count    8.765800e+04
mean     6.912216e+03
std      2.837864e+04
min      1.510204e+00
25%      1.550000e+03
50%      2.213115e+03
75%      3.355549e+03
max      4.000000e+06
Name: price_per_m2, dtype: float64

Informacion de la columna floor:

count    7899.000000
mean       17.452336
std       120.243621
min         1.000000
25%         1.000000
50%         3.000000
75%         6.000000
max      3150.000000
Name: floor, dtype: float64

Informacion de la columna rooms:

count    47390.000000
mean         3.080840
std          1.860773
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max         32.000000
Name: rooms, dtype: float64

Informacion de la columna expenses:

count    1.426200e+04
mean     5.009234e+03
std      1.204403e+05
min      1.000000e+00
25%      1.000000e+03
50%      2.000000e+03
75%      4.000000e+03
max      1.000150e+07
Name: expenses, dtype: float64

Informacion de la columna properati_url:

count                                                121220
unique                                               121220
top       http://www.properati.com.ar/15bo8_venta_ph_mat...
freq                                                      1
Name: properati_url, dtype: object

Informacion de la columna description:

count                                                121218
unique                                               104055
top       AVISO LEGAL: Las descripciones arquitectónicas...
freq                                                    358
Name: description, dtype: object

Informacion de la columna title:

count                    121220
unique                    72705
top       DEPARTAMENTO EN VENTA
freq                       4855
Name: title, dtype: object

Informacion de la columna image_thumbnail:

count                                                118108
unique                                               114389
top       https://thumbs4.properati.com/5/yyMiu8BHQI9KXC...
freq                                                    255
Name: image_thumbnail, dtype: object

# Tipo de info de cada columna

PLACE NAME:

In [29]:
data['place_name'].value_counts()

Córdoba               9254
Rosario               8504
Mar del Plata         6534
Tigre                 3324
Nordelta              3315
                      ...
Sierras Bayas            1
Paso de los Libres       1
Azara                    1
Coronel Du Graty         1
Altos de Hudson I        1
Name: place_name, Length: 1060, dtype: int64

PLCE WITH PARENT NAMES:

In [30]:
data['place_with_parent_names'].value_counts()

|Argentina|Santa Fe|Rosario|                                        8504
|Argentina|Córdoba|Córdoba|                                         6606
|Argentina|Buenos Aires Costa Atlántica|Mar del Plata|              6534
|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nordelta|                 3315
|Argentina|Capital Federal|Belgrano|                                2992
                                                                    ...
|Argentina|Entre Ríos|Villa Paranacito|                                1
|Argentina|San Juan|Villa Mercedes|                                    1
|Argentina|Buenos Aires Interior|Chascomús|Barrio Parque Girado|       1
|Argentina|Buenos Aires Costa Atlántica|Mar del Plata|Alfar|           1
|Argentina|Bs.As. G.B.A. Zona Sur|Berazategui|Altos de Hudson I|       1
Name: place_with_parent_names, Length: 1164, dtype: int64

COUNTRY NAME:

In [31]:
data['country_name'].value_counts()

Argentina    121220
Name: country_name, dtype: int64

STATE NAME:

In [32]:
data['state_name'].value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
Santiago Del Estero                 4
La Rioja                            4
Name: state_name, dtype: int64

GEONAMES ID:

In [33]:
data['geonames_id'].value_counts()

3838574.0    8504
3860259.0    6606
3430863.0    6534
3430234.0    3279
3436077.0    2992
             ...
3834971.0       1
3835354.0       1
3835711.0       1
3855135.0       1
3430940.0       1
Name: geonames_id, Length: 646, dtype: int64

LAT-LON:

In [34]:
data['lat-lon'].value_counts()

-34.4026444,-58.6684776          312
-34.40014,-58.64985              271
-34.6428675967,-58.4376599743    259
-34.425087,-58.5796585           224
-34.5895459,-58.3973636          156
                                ...
-34.5933338,-58.4430338            1
-34.5513449,-58.6876066            1
-38.0801129219,-57.5860380405      1
-38.020255,-57.5281042             1
-34.6295045177,-58.460641832       1
Name: lat-lon, Length: 47203, dtype: int64

LAT:

In [35]:
data['lat'].value_counts()

-34.402644    312
-34.400140    271
-34.642868    259
-34.425087    224
-34.589546    157
             ...
-34.536701      1
-34.647220      1
-34.880130      1
-34.678710      1
-34.629505      1
Name: lat, Length: 46495, dtype: int64

LON:

In [36]:
data['lon'].value_counts()

-58.668478    312
-58.649850    272
-58.437660    259
-58.579659    225
-58.397364    176
             ...
-58.377785      1
-58.488385      1
-58.694755      1
-58.451329      1
-58.460642      1
Name: lon, Length: 46522, dtype: int64

SURFACE TOTAL IN M2:

In [37]:
data['surface_total_in_m2'].value_counts()

50.0       1721
40.0       1698
45.0       1404
60.0       1396
70.0       1115
           ...
881.0         1
1247.0        1
1983.0        1
943.0         1
25186.0       1
Name: surface_total_in_m2, Length: 1687, dtype: int64

SURFACE COVERED IN M2:

In [38]:
data['surface_covered_in_m2'].value_counts()

40.0       2736
50.0       2184
45.0       2142
60.0       1888
100.0      1848
           ...
705.0         1
891.0         1
14000.0       1
835.0         1
12000.0       1
Name: surface_covered_in_m2, Length: 995, dtype: int64

# TODO 
completar análisis de columnas: que columnas hay y que significan cada una.

Analizamos contenido de las columnas que creemos que pueden eliminarse.

In [39]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.operation.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['operation']).size().reset_index(name='count'))

Cantidad de registros con NaN: 0
Contamos cantidad de registros unicos:
  operation   count
0      sell  121220

Detalle de análisis de columnas:
* `operation` (sell/ventas) -> Vemos que no tiene NaNs y solo tiene la opción `sell`. Por este motivo la vamos a eliminar.

* `country_name` (nombre de paises) -> Vemos que no tiene NaNs y solo tiene la opción `Argentina`. Por este motivo la podriamos eliminar.

* `state_name` (nombre de estados) -> Vemos que no tiene NaNs.

* `place_name` (localidades) -> Vemos que tiene 23 NaNs.

* `place_with_parent_names` (nombre completo) -> Vemos que no tiene NaNs. El mismo esta formado con las columnas 
country_name|state_name|place_name. Podriamos utilizar esta columna eliminando o desestimando las 3 anteriores. 

* `geonames` (geonombres) -> Vemos que tiene 18717 NaNs. 

* `lat` (latitud) -> Vemos que tiene 51550 NaNs. Si comparamos los valores de la columna lon con los de la columna lat-lon, podemos observar que difieren 18025 valores. Los mismos presentan diferencias por "," en vez de ".", esto podria ser ocasionado por un mal tipeo en la carga de datos. 

* `lon` (longitud) -> Vemos que tiene 51550 NaNs. Si comparamos los valores de la columna lon con los de la columna lat-lon, podemos observar que difieren 27485 valores. Los mismos presentan diferencias por "," en vez de ".", esto podria ser ocasionado por un mal tipeo en la carga de datos. 

* `lat-lon` (latitud-longitud) -> Podemos confirmar que por algun error estos valores no coinciden con los desplegados en la columna lat y lon, por ende debemos evaluar que hacemos con estas 3 columnas, con que valor certero nos quedamos, con lat y lon o con lat-lon?

* `surface_total_in_m2` (superficie total m2) --> Vemos que tiene 19907 NaNs.

* `surface_covered_in_m2` (superficie m2) --> Vemos que tiene 19907 NaNs.

In [40]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.country_name.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['country_name']).size().reset_index(name='count'))

Cantidad de registros con NaN: 0
Contamos cantidad de registros unicos:
  country_name   count
0    Argentina  121220

In [41]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.state_name.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['state_name']).size().reset_index(name='count'))  #cantidad de valores por provincia

Cantidad de registros con NaN: 0
Contamos cantidad de registros unicos:
                      state_name  count
0       Bs.As. G.B.A. Zona Norte  25560
1       Bs.As. G.B.A. Zona Oeste   9322
2         Bs.As. G.B.A. Zona Sur  13952
3   Buenos Aires Costa Atlántica  10006
4          Buenos Aires Interior   2291
5                Capital Federal  32316
6                      Catamarca     27
7                          Chaco     57
8                         Chubut    259
9                     Corrientes    583
10                       Córdoba  12069
11                    Entre Ríos    369
12                       Formosa     65
13                         Jujuy     26
14                      La Pampa    157
15                      La Rioja      4
16                       Mendoza    681
17                      Misiones    464
18                       Neuquén    733
19                     Río Negro    808
20                         Salta    278
21                      San Juan     40
22                      San Luis    252
23                    Santa Cruz     20
24                      Santa Fe  10172
25           Santiago Del Estero      4
26              Tierra Del Fuego     31
27                       Tucumán    674

In [42]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.place_name.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['place_name']).size().reset_index(name='count')) #cantidad de valores por barrios/localidades

Cantidad de registros con NaN: 23
Contamos cantidad de registros unicos:
                   place_name  count
0      Country Maschwitz Club      3
1                  los alamos      1
2                  9 de Abril      3
3                      Abasto    139
4         Abril Club de Campo     19
...                       ...    ...
1055              Yerba Buena    191
1056                   Zelaya      7
1057                   Zárate     15
1058    coordenadas 34.255511      1
1059                  Álvarez      1

[1060 rows x 2 columns]

In [43]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.geonames_id.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['geonames_id']).size().reset_index(name='count'))

Cantidad de registros con NaN: 18717
Contamos cantidad de registros unicos:
     geonames_id  count
0      3427208.0      7
1      3427212.0      8
2      3427326.0    139
3      3427354.0     41
4      3427366.0     15
..           ...    ...
641    6693230.0     57
642    6942538.0     17
643    6942539.0     15
644    6942842.0      2
645    6948895.0      2

[646 rows x 2 columns]

In [44]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.lat.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['lat']).size().reset_index(name='count'))

Cantidad de registros con NaN: 51550
Contamos cantidad de registros unicos:
             lat  count
0     -54.823985      1
1     -54.819736      2
2     -54.806598      1
3     -54.806017      1
4     -54.801452      1
...          ...    ...
46490 -24.168071      1
46491 -24.166966      1
46492 -24.165218      1
46493 -23.137164      2
46494   4.545843      1

[46495 rows x 2 columns]

In [45]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.lon.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['lon']).size().reset_index(name='count'))

Cantidad de registros con NaN: 51550
Contamos cantidad de registros unicos:
             lon  count
0     -75.678931      1
1     -71.665143      1
2     -71.664029      1
3     -71.663814      1
4     -71.663515     15
...          ...    ...
46517 -54.580379      1
46518 -54.560043      1
46519 -54.559587      1
46520 -54.556127      1
46521 -53.733330      1

[46522 rows x 2 columns]

In [46]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.surface_covered_in_m2.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['surface_covered_in_m2']).size().reset_index(name='count'))

Cantidad de registros con NaN: 19907
Contamos cantidad de registros unicos:
     surface_covered_in_m2  count
0                      0.0      2
1                      1.0    367
2                      2.0     12
3                      3.0      7
4                      4.0     10
..                     ...    ...
990                30000.0      1
991                35000.0      1
992                38240.0      1
993                49000.0      1
994               187000.0      1

[995 rows x 2 columns]

In [47]:
# Columna operation: revisamos que opciones tiene, o si se repite lo mismo.
print(f'Cantidad de registros con NaN: {data.surface_covered_in_m2.isnull().sum()}')
print("Contamos cantidad de registros unicos:")
print(data.groupby(['surface_covered_in_m2']).size().reset_index(name='count'))

Cantidad de registros con NaN: 19907
Contamos cantidad de registros unicos:
     surface_covered_in_m2  count
0                      0.0      2
1                      1.0    367
2                      2.0     12
3                      3.0      7
4                      4.0     10
..                     ...    ...
990                30000.0      1
991                35000.0      1
992                38240.0      1
993                49000.0      1
994               187000.0      1

[995 rows x 2 columns]

In [48]:
mask_lat_lon=data.apply(lambda x: x["lat-lon"]== x["lat"] + "-" + x["lon"] if any(x["lat-lon"],x["lat"], x["lon"])==np.NaN)

SyntaxError: invalid syntax (857400283.py, line 1)

In [ ]:
mask=data.apply(lambda x: x["lat-lon"]== x["lat"] + "-" + x["lon"])
mask

KeyError: 'lat-lon'

# Porcentaje de valores nulos

In [ ]:
data.isnull().mean()*100

Unnamed: 0                     0.000000
operation                      0.000000
property_type                  0.000000
place_name                     0.018974
place_with_parent_names        0.000000
country_name                   0.000000
state_name                     0.000000
geonames_id                   15.440521
lat-lon                       42.525986
lat                           42.525986
lon                           42.525986
price                         16.837156
currency                      16.837981
price_aprox_local_currency    16.837156
price_aprox_usd               16.837156
surface_total_in_m2           32.443491
surface_covered_in_m2         16.422208
price_usd_per_m2              43.394654
price_per_m2                  27.686850
floor                         93.483749
rooms                         60.905791
expenses                      88.234615
properati_url                  0.000000
description                    0.001650
title                          0.000000
image_thumbnail                2.567233
dtype: float64